style.css
body{
  background-image: url("background.jpg");

}

nav {
  margin: 27px auto 0;
  position: relative;
  width: 1000px;
  height: 50px;
  background-color: #cab65b;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
  
}
nav a {
  float: left;
  padding: 12px;
  color: white;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 28%;
  line-height: 23px;
  height: 100%;

  display:inline;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
a:nth-child(6) {
  width: 120px;
}
a:nth-child(7) {
  width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 120px;
  left: 0;
  background-color: #ddc267;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 135px;
  left: 120px;
  background-color: #ddc267;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 135px;
  left: 255px;
  background-color: #ddc267;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 155px;
  left: 390px;
  background-color: #ddc267;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 160px;
  left: 545px;
  background-color: #ddc267;
}
nav .start-contact, a:nth-child(6):hover~.animation {
  width: 150px;
  left: 705px;
  background-color: #ddc267;
}
nav .start-contact, a:nth-child(7):hover~.animation {
  width: 145px;
  left: 855px;
  background-color: #ddc267;
}



















#menu
{
	position:fixed;
	width: 100%;
	height: 25px;
  color: white;
  z-index: 1;
  margin: 27px auto 0;


}


li {
    display:inline;
    position: relative;
    padding: 10px 70px;
    background-image: url("background.jpg");
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    font-size: larger;
    font-style: bold;
    
   
}
.title {
    width: 100%;
	height: 170px;
    padding: 10px 40px;
    background-image: url("background.jpg");
}



.gallery{
	margin-left:1500px;

}

.section{
	
    font-weight: bold;
    text-align:center;
    font-family:Calibri;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
 /* The Gallary */

  /* The grid: Four equal columns that floats next to each other */
.column {
	float:left;
	width: 1%;
	padding: 10px;
	display: block;
	margin-left:130px;
	margin-right: 120px;
	

  }
  
  /* Style the images inside the grid */
  .column img {
	opacity: 0.7;
	cursor: pointer;


  }
  
  .column img:hover {
	opacity: 1;
	
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
	
	position:relative;
	width: 400px;
	height: 100px;

	margin-right: 900px;
	margin-left:600px;
	margin-top: 20px;
	color: #c5ae3ee6;
	font-size: 15px;
	font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	
	display: none;
  }
  
  /* Closable button inside the image */

  .closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
  }



  /* animation in the title */
 

h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 1px;
  font-family: "Fantasy";
  font-weight: 100;
  font-size:60px;
  position: relative;
  width: 100%;
  background: linear-gradient(to right, rgb(255, 247, 213), rgb(248, 238, 148),);
  white-space: nowrap;
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;

}
h1::before {
  content: "";

  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -100px;
  margin-top: -220px;
  height: 600px;
  background: radial-gradient(ellipse closest-side, rgb(252, 242, 156), rgb(255, 234, 142));
  z-index: -1;
}
h1 a {
  padding: 10px;
  text-decoration: none;
  letter-spacing: 30px;
  color: rgb(234, 224, 145);
  animation: comein 5s 1 ease-in-out forwards ;
  

}

@keyframes comein {
  0% {
    letter-spacing: 80px;
    color: rgba(255, 255, 255, 0);
  }
  70% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 15px;
    color: rgb(116, 111, 111);
  }
}

