style.css
#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: blue;
}
/* #menu:hover{
    background-color: aliceblue;
} */
li {
    display:inline;
    padding: 10px 70px;
    background-color:rgb(250, 237, 179)
}
.title {
    width: 100%;
	height: 170px;
    padding: 10px 40px;
    background-color:rgb(250, 237, 179);
	
	
}
.imgtitle{
	margin-left: 450px;
}

.section{
	
    font-weight: bold;
    text-align:center;
    font-family:Calibri;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
 /* The Gallary */

  /* The grid: Four equal columns that floats next to each other */
.column {
	float:left;
	width: 1%;
	padding: 10px;
	display: block;
	margin-left:130px;
	margin-right: 120px;
	

  }
  
  /* Style the images inside the grid */
  .column img {
	opacity: 0.7;
	cursor: pointer;


  }
  
  .column img:hover {
	opacity: 1;
	
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
	
	position:relative;
	width: 400px;
	height: 100px;
	margin-left:700px;
	margin-right: 300px;
	margin-top: 100px;
	color: #c5ae3ee6;
	font-size: 15px;
	font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	
	display: none;
  }
  
  /* Expanding image text */
  /*#imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
  }*/
  
  /* Closable button inside the image */
  .closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
  }